.title {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.author {
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
    color: blue;
}

.home {
    font-size: 14px;
    color: blue;
    text-align: left;
    margin-bottom: 15px;
}
